In [9]:
import pandas as pd
import numpy as np
import matplotlib as plot
import openpyxl

In [21]:
df1= pd.read_csv(r'C:\Users\aries\OneDrive\Desktop\SavvyCoders\Activities\Class Project\data\IEA_Global_EV_2030_Projections_Data_2023.csv')
df2= pd.read_excel(r'C:\Users\aries\OneDrive\Desktop\SavvyCoders\Activities\Class Project\data\StatePopulations.xlsx')
df3= pd.read_excel(r'C:\Users\aries\OneDrive\Desktop\SavvyCoders\Activities\Class Project\data\mv-registration-counts-by-state.xlsx')
df4= pd.read_excel(r"C:\Users\aries\code\savvycoders\Classwork\ev-registration-counts-by-state_6-30-22.xlsx")
df5= pd.read_csv(r"C:\Users\aries\code\savvycoders\Classwork\alt_fuel_stations(Nov-3-2023).csv",low_memory='False')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\aries\\OneDrive\\Desktop\\SavvyCoders\\Activities\\Class Project\\data\\IEA_Global_EV_2030_Projections_Data_2023.csv'

In [17]:
df4.reset_index(drop=True, inplace=True)

In [16]:
df1

NameError: name 'df1' is not defined

In [42]:
df2

                    State   Population
0                Alabama     4,817,678
1                 Alaska       728,300
2                Arizona     6,561,516
3               Arkansas     2,947,036
4             California    38,066,920
5               Colorado     5,197,580
6            Connecticut     3,592,053
7               Delaware       917,060
8   District of Columbia       633,736
9                Florida    19,361,792
10               Georgia     9,907,756
11                Hawaii     1,392,704
12                 Idaho     1,599,464
13              Illinois    12,868,747
14               Indiana     6,542,411
15                  Iowa     3,078,116
16                Kansas     2,882,946
17              Kentucky     4,383,272
18             Louisiana     4,601,049
19                 Maine     1,328,535
20              Maryland     5,887,776
21         Massachusetts     6,657,291
22              Michigan     9,889,024
23             Minnesota     5,383,661
24           Mississippi     2,984,345
25              Missouri     6,028,076
26               Montana     1,006,370
27              Nebraska     1,855,617
28                Nevada     2,761,584
29         New Hampshire     1,321,069
30            New Jersey     8,874,374
31            New Mexico     2,080,085
32              New York    19,594,330
33        North Carolina     9,750,405
34          North Dakota       704,925
35                  Ohio    11,560,380
36              Oklahoma     3,818,851
37                Oregon     3,900,343
38          Pennsylvania    12,758,729
39          Rhode Island     1,053,252
40        South Carolina     4,727,273
41          South Dakota       834,708
42             Tennessee     6,451,365
43                 Texas    26,092,033
44                  Utah     2,858,111
45               Vermont       626,358
46              Virginia     8,185,131
47            Washington     6,899,123
48         West Virginia     1,853,881
49             Wisconsin     5,724,692
50               Wyoming       575,251

In [43]:
df3

,State Motor-Vehicle Registrations - 2021 (1),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,February 2023 (Revised March 2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TABLE MV-1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,AUTOMOBILES,NaN,NaN,BUSES,NaN,NaN,TRUCKS,NaN,NaN,MOTORCYCLES,NaN,NaN,ALL MOTOR VEHICLES,NaN,NaN
4,STATE,PRIVATE AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,(1) Published data reflects State-supplied dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,(2) State did not report government registrati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,(3) Data was estimated by FHWA due to data qua...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,(4) State verified significant decreases in re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,(5) State provided estimated registration data...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df4

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Electric Vehicle Registrations by State,NaN,NaN,NaN
1,NaN,State,Registration Count,NaN,NaN
2,NaN,Alabama,4750,NaN,NaN
3,NaN,Alaska,1290,NaN,NaN
4,NaN,Arizona,40740,NaN,NaN
5,NaN,Arkansas,2390,NaN,NaN
6,NaN,California,563070,NaN,NaN
7,NaN,Colorado,37000,NaN,NaN
8,NaN,Connecticut,13350,NaN,NaN
9,NaN,Delaware,3010,NaN,NaN
10,NaN,District of Columbia,3700,NaN,NaN
11,NaN,Florida,95640,NaN,NaN
12,NaN,Georgia,34020,NaN,NaN
13,NaN,Hawaii,14220,NaN,NaN
14,NaN,Idaho,3500,NaN,NaN
15,NaN,Illinois,36520,NaN,NaN
16,NaN,Indiana,10360,NaN,NaN
17,NaN,Iowa,3660,NaN,NaN
18,NaN,Kansas,4500,NaN,NaN
19,NaN,Kentucky,4220,NaN,NaN
20,NaN,Louisiana,3180,NaN,NaN
21,NaN,Maine,3040,NaN,NaN
22,NaN,Maryland,25630,NaN,NaN
23,NaN,Massachusetts,30470,NaN,NaN
24,NaN,Michigan,17460,NaN,NaN
25,NaN,Minnesota,15000,NaN,NaN
26,NaN,Mississippi,1310,NaN,NaN
27,NaN,Missouri,10050,NaN,NaN
28,NaN,Montana,1650,NaN,NaN
29,NaN,Nebraska,2710,NaN,NaN
30,NaN,Nevada,17380,NaN,NaN
31,NaN,New Hampshire,4000,NaN,NaN
32,NaN,New Jersey,47830,NaN,NaN
33,NaN,New Mexico,4150,NaN,NaN
34,NaN,New York,51870,NaN,NaN
35,NaN,North Carolina,25190,NaN,Source:
36,NaN,North Dakota,380,NaN,Vehicle registration counts derived by the Nat...
37,NaN,Ohio,21200,NaN,NaN
38,NaN,Oklahoma,7080,NaN,Notes:
39,NaN,Oregon,30290,NaN,Only all-electric vehicles (EVs) are included...
40,NaN,Pennsylvania,26770,NaN,Registration counts are approximate.
41,NaN,Rhode Island,2550,NaN,"California had approximately 563,070 light-dut..."
42,NaN,South Carolina,7440,NaN,NaN
43,NaN,South Dakota,680,NaN,Worksheet available at afdc.energy.gov/data
44,NaN,Tennessee,12160,NaN,Last updated June 2022
45,NaN,Texas,80900,NaN,NaN
46,NaN,Utah,16480,NaN,NaN
47,NaN,Vermont,3370,NaN,NaN
48,NaN,Virginia,30660,NaN,NaN
49,NaN,Washington,66810,NaN,NaN
50,NaN,West Virginia,1010,NaN,NaN
51,NaN,Wisconsin,9330,NaN,NaN
52,NaN,Wyoming,510,NaN,NaN
53,NaN,Total,1454480,NaN,NaN

In [45]:
df1.query("category == 'Projection-STEPS' or category == 'Projection-APS'")

,region,category,parameter,mode,powertrain,year,unit,value
1331,China,Projection-STEPS,EV charging points,EV,Publicly available fast,2020,charging points,310000.0
1332,China,Projection-STEPS,EV charging points,EV,Publicly available slow,2020,charging points,500000.0
1335,China,Projection-STEPS,EV sales,Buses,BEV,2020,Vehicles,62000.0
1336,China,Projection-STEPS,EV stock,Buses,BEV,2020,Vehicles,480000.0
1337,China,Projection-STEPS,EV sales,Buses,PHEV,2020,Vehicles,3600.0
...,...,...,...,...,...,...,...,...
9537,World,Projection-APS,EV stock,Trucks,PHEV,2030,Vehicles,910000.0
9538,World,Projection-APS,EV stock,Vans,BEV,2030,Vehicles,12000000.0
9539,World,Projection-APS,EV stock,Vans,PHEV,2030,Vehicles,1300000.0
9540,World,Projection-APS,EV stock,Cars,BEV,2030,Vehicles,180000000.0
9541,World,Projection-APS,EV stock,Cars,PHEV,2030,Vehicles,50000000.0

In [48]:
df1_invest = df1[['region', 'value']]
df1_invest.query("region == 'USA' or region == 'rest of the world'")

     region       value
8376    USA     0.00016
8377    USA     9.20000
8378    USA    96.00000
8379    USA   480.00000
8380    USA  3800.00000
...     ...         ...
8715    USA     4.00000
8716    USA    50.00000
8717    USA    28.00000
8718    USA    13.00000
8719    USA    16.00000

[344 rows x 2 columns]